<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/client/public/style.css">

    <title>Set A Part</title>
  </head>
  
  <body>

    <h1>Set A Part</h1>

    <nav class="navbar">
      <div class="logo">
        <img src="/images/Dove.png" alt="Logo" />
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="tokenomics">Tokenomics</a></li>
        <li><a href="goals">Our goals</a></li>
        <li><a href="invest">Invest</a></li>
        <li><a href="myspace">My space</a></li>
      </ul>
    </nav>
    <main>

 
  